.body{
    font-family: Helvetica;
}

.title{
    color: #6200ee;
    text-align: center;
}

.empty {

    text-align: center;
}

.app-container{

    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-field{
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-buttom{
    background-color: #6200ee;
    border: none;
    border-radius: 4px;
    color: #333;
    padding: 10px 20px;
    cursor: pointer;
}